$primary-color: #131921;
$primary-color-1: #333;
$primary-color-2: #fff;
$primary-color-3: #e6dede;
$primary-color-4: #b9b8b8;

$secondary-color: #febd69;
$secondary-color-1: #e77600;
$secondary-color-2: #e4791180;


