$primary-color:   #131921;
$primary-color-1: #333;
$primary-color-2: #fff;
$primary-color-3: #a7acb2;
$primary-color-4: #b9b8b8;
$primary-color-5: #f1efef;
$primary-color-6: #232f3e;

$secondary-color:   #febd69;
$secondary-color-1: #e77600;
$secondary-color-2: #e4791180;


$border: 1px solid $primary-color-2;
$border-radius: 3px;