.header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #131921;
    width: 100%;
    display: flex;
    align-items: center;
    padding: .5rem;
    
    .header__logo{
        width: 100px;
        margin-top: .6rem;
        margin-right: .5rem;
    }
}