.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary-color;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 .5rem;

    &__logo {
        width: 100px;
        margin-top: .6rem;
        margin-right: .5rem;
        object-fit: contain;
    }

    &__searchBox {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        border: none;
        flex: 1;
        margin: 0 2rem;

        &:hover {
            background: red;
        }

        .header__selectBox {
            position: relative;
            height: 2.4rem;
            background-color: $primary-color-3;
            border-radius: 5px 0 0 5px;


            &:after {
                content: '▼';
                right: 11px;
                top: 1px;
                height: 2.4rem;
                padding: 8px 0px 0px 8px;
                position: absolute;
                pointer-events: none;
            }


            .header__select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                cursor: pointer;
                padding: 0 1rem;
                height: 2.4rem;
                float: right;
                font-size: .8rem;
                line-height: 1.75;
                color: $primary-color-1;
                outline: none;
                border: none;
                background-color: inherit;
                background-image: none;
                -ms-word-break: normal;
                word-break: normal;

                &:hover {
                    background-color: $primary-color-4;
                }

                .header__options {
                    font-size: .8rem;
                }
            }

        }


        &--input {
            border-radius: 0 5px 5px 0;
            height: 2.4rem;
            font-size: 15px;
            padding: .5rem;
            border: 1px solid transparent;
            width: 100%;
            margin-right: -2.7rem;

            &:active,
            &:focus {
                border: 1px solid $secondary-color-1;
                box-shadow: 0 0 3px 2px $secondary-color-2;

            }

        }



        &--icon {
            background-color: $secondary-color;
            color: $primary-color-1;
            height: 2.4rem !important;
            width: 2.7rem !important;
            padding: .3rem;
            border-radius: 0 3px 3px 0;
        }

    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__link {
        text-decoration: none;
        color: $primary-color-2;
        padding: 1rem;

        &:hover {
            border: 1px solid $primary-color-2;
        }
    }

    &__options {
        display: flex;
        flex-direction: column;

        &-light {
            font-size: .8rem;
            color: $primary-color-3;
        }

        &-bold {
            font-weight: 700;
            font-size: .9rem;
        }

        &--cart {
            display: flex;
            align-items: center;

            &-count {
                margin-right: .1rem;
            }
        }
    }
}