.slider {
    position: relative;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &__rightArrow,
    &__leftArrow {
        position: absolute;
        top: 20%;
    }

    &__rightArrow {
        right: 3%;
    }

    &__leftArrow {
        left: 3%;
    }

    &__dots {
        position: absolute;
        bottom: 5%;
       // background-color: red;
    }
}

.sliderComponent {
    height: 86vh;
    background-size: cover;
    display: flex;
  
}

.slide {
    background-repeat: no-repeat;
    background-position: center;

}

.arrow {
    display: flex;
    justify-content: center;
    color: $primary-color-1;
    align-items: center;
    cursor: pointer;
    transition: all ease-in .3s;

    &:hover {
        transform: scale(1.15);
    }

    &__left,
    &__right {
        font-size: 2.6rem !important;
    }

}

.dots {
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    .dot {
        cursor: pointer;
        background-color: $primary-color-3;
        padding: 10px;
        margin-right: 10px;
        border-radius: 50%;
        box-shadow: 0px 1px 9px 2px;

    }
}